@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  
}

body {
  overflow-x: hidden;
}

.landing-image {
  background-image: url('/banner-background7.jpg');
  background-size: cover;
  background-position: center;
}

.banner-image {
  background-image: url('/contact-banner.jpg');
  background-size: cover;
  background-position: center;
}
