@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.landing-image {
  background-image: url('/banner-background7.jpg');
  background-size: cover;
  background-position: center;
}